@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>All is fun</h3>
<img width="150" src="~/Content/Images/SciaSquashLogo.png" alt="Lebsoft">
<p>This web should serve as result board for Scia squash</p>
