@{
    ViewBag.Title = "Contact for LEBSOFT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lebsoft s.r.o.<br />
    Kyjov, CZ<br />
    <abbr title="Phone">P:</abbr>
    +420 608024925
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">lebsoft@seznam.cz</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">lebsoft@seznam.cz</a>
</address>