@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row text-center">
        <div class="col-md-6">
            <h1>SCIA SQUASH</h1>
        </div>
        <div class="col-md-6">
            <img width="150" src="~/Content/Images/squash-40790_640.png" alt="Lebsoft">
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>Next Match day</h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Actual leader</h2>
        @Html.Action("Leader", "Player")
    </div>
    <div class="col-md-4">
        <h2>Table</h2>
        <hr/>
        @Html.Action("Ranking", "Player")
    </div>
</div>