@using IdenityHelp.ViewModels.Shared;

@model SciaSquash.Web.ViewModels.Player.PlayerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    @Html.Action("PlayerInfoPartial", "Player", new { id = Model.Player.PlayerID, showCRUDActions = false })
    
    <hr />
    @Html.Action("RivalResultsPartial", "Player", new { id = Model.Player.PlayerID, rivalID = Model.RivalID })
    
    <hr />
    @Html.Action("RivalMatchesPartial", "Player", new { id = Model.Player.PlayerID, rivalID = Model.RivalID })

</div>

<p>
    @Html.Partial("EditBackActionLinksEasyPartial", new EditBackActionLinksEasyViewModel(User, "Player", "Player", new { id = Model.Player.PlayerID }, null))
</p>
