@using System.Web.Mvc.Html;
@using IdenityHelp.ViewModels.Shared;

@model IEnumerable<SciaSquash.Model.Entities.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.Partial("CreateActionLinkEasyPartial", new CreateActionLinkEasyViewModel("Create player", User, "Player", null))
</p>

@foreach (var item in Model)
{
    <hr />
    @Html.Action("PlayerInfoPartial", "Player", new { id = item.PlayerID, showCRUDActions = true })
}
