@model IEnumerable<SciaSquash.Model.Entities.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New player", "Create")
</p>

@foreach (var item in Model)
{
    <hr />
    @Html.Action("PlayerInfoPartial", "Player", new { playerID = item.PlayerID, showCRUDActions = true })
}
